FRONTEND_BASE_URL=http://localhost:5174
USER_APP_BASE_URL=http://localhost:5173
PLAYWRIGHT_BACKEND_PORT=5001
API_BASE_URL=http://localhost:5001

TEST_ADMIN_NAME=Playwright Admin
TEST_ADMIN_EMAIL=playwright.admin@example.com
TEST_ADMIN_PASSWORD=Pass123!

TEST_USER_NAME=Playwright User
TEST_USER_EMAIL=playwright.user@example.com
TEST_USER_PASSWORD=Pass123!
